<html>
    <head>
        <title>{{title}} - Best BookShop on the planet</title>
    </head>
    <body>
        <h1>Orders</h1>
        {% for order in list_of_orders %}
        <div>
            <a href="order/{{list_of_orders.index(order)+1}}">Link to order</a><h2>{{order.customer}}:</h2>
            <p>Order date: {{order.order_date}}</p> 
            <p>Item ordered: {{order.book}}</p>
            <p>Number of items ordered:{{order.quantity}}</p>




        </div>
        {% endfor %}
    </body>
</html>