<html>
    <head>
        <title>{{title}} - Best BookShop on the planet</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Orders</h1>
        {% for order in list_of_orders %}
        <article>
            <a href="/samepage/{{list_of_orders.index(order)+1}}"><h2>{{order.customer}}:</h2></a>
            <p>Order date: {{order.order_date}}</p> 
            <p>Item ordered: {{order.book}}</p>
            <p>Number of items ordered:{{order.quantity}}</p>




        </article>
        <aside>
           
    
                
            
        </aside>
        {% endfor %}
    </body>
</html>